.svg-ac1 {
	background: url("sprite.css-a0aea731.svg") 99.94252873563218% 38.888888888888886% no-repeat;
}

.svg-ac1-x {
	width: 24px;
	height: 24px;
}

.svg-ac2 {
	background: url("sprite.css-a0aea731.svg") 99.94252873563218% 41.388888888888886% no-repeat;
}

.svg-ac2-x {
	width: 24px;
	height: 24px;
}

.svg-acc1 {
	background: url("sprite.css-a0aea731.svg") 98.39816933638444% 61.671270718232044% no-repeat;
}

.svg-acc1-x {
	width: 16px;
	height: 16px;
}

.svg-acc2 {
	background: url("sprite.css-a0aea731.svg") 99.82758620689656% 43.888888888888886% no-repeat;
}

.svg-acc2-x {
	width: 24px;
	height: 24px;
}

.svg-arrow {
	background: url("sprite.css-a0aea731.svg") 99.08883826879271% 34.681288553803974% no-repeat;
}

.svg-arrow-x {
	width: 8px;
	height: 5px;
}

.svg-arrow2 {
	background: url("sprite.css-a0aea731.svg") 99.31350114416476% 61.671270718232044% no-repeat;
}

.svg-arrow2-x {
	width: 16px;
	height: 16px;
}

.svg-arrow3 {
	background: url("sprite.css-a0aea731.svg") 97.81734635267088% 54.26786953504511% no-repeat;
}

.svg-arrow3-x {
	width: 23px;
	height: 23px;
}

.svg-arrow3-3 {
	background: url("sprite.css-a0aea731.svg") 99.13842619184376% 54.26786953504511% no-repeat;
}

.svg-arrow3-3-x {
	width: 23px;
	height: 23px;
}

.svg-arrow4 {
	background: url("sprite.css-a0aea731.svg") 98.78190255220417% 25.76388888888889% no-repeat;
}

.svg-arrow4-x {
	width: 40px;
	height: 24px;
}

.svg-arrows {
	background: url("sprite.css-a0aea731.svg") 98.4393063583815% 43.888888888888886% no-repeat;
}

.svg-arrows-x {
	width: 34px;
	height: 24px;
}

.svg-b1 {
	background: url("sprite.css-a0aea731.svg") 77.86732796032238% 88.99848254931715% no-repeat;
}

.svg-b1-x {
	width: 151px;
	height: 146px;
}

.svg-b2 {
	background: url("sprite.css-a0aea731.svg") 85.6360316494218% 88.99848254931715% no-repeat;
}

.svg-b2-x {
	width: 121px;
	height: 146px;
}

.svg-close {
	background: url("sprite.css-a0aea731.svg") 97.42562929061785% 63.950276243093924% no-repeat;
}

.svg-close-x {
	width: 16px;
	height: 16px;
}

.svg-copy {
	background: url("sprite.css-a0aea731.svg") 100% 53.96825396825397% no-repeat;
}

.svg-copy-x {
	width: 15px;
	height: 15px;
}

.svg-copy2 {
	background: url("sprite.css-a0aea731.svg") 99.19954259576902% 67.21877156659765% no-repeat;
}

.svg-copy2-x {
	width: 15px;
	height: 15px;
}

.svg-copy3 {
	background: url("sprite.css-a0aea731.svg") 97.36992567181247% 68.32298136645963% no-repeat;
}

.svg-copy3-x {
	width: 15px;
	height: 15px;
}

.svg-dev {
	background: url("sprite.css-a0aea731.svg") 97.36992567181247% 59.407305306685046% no-repeat;
}

.svg-dev-x {
	width: 15px;
	height: 13px;
}

.svg-er {
	background: url("sprite.css-a0aea731.svg") 98.34096109839817% 63.950276243093924% no-repeat;
}

.svg-er-x {
	width: 16px;
	height: 16px;
}

.svg-false {
	background: url("sprite.css-a0aea731.svg") 99.88545246277205% 55.67081604426003% no-repeat;
}

.svg-false-x {
	width: 18px;
	height: 18px;
}

.svg-fltr {
	background: url("sprite.css-a0aea731.svg") 99.54022988505747% 48.958333333333336% no-repeat;
}

.svg-fltr-x {
	width: 24px;
	height: 24px;
}

.svg-g-ar {
	background: url("sprite.css-a0aea731.svg") 97.53722794959909% 57.12309820193638% no-repeat;
}

.svg-g-ar-x {
	width: 18px;
	height: 18px;
}

.svg-header-icon1 {
	background: url("sprite.css-a0aea731.svg") 99.88472622478386% 45.714285714285715% no-repeat;
}

.svg-header-icon1-x {
	width: 29px;
	height: 29px;
}

.svg-header-icon2 {
	background: url("sprite.css-a0aea731.svg") 98.21222606689734% 45.714285714285715% no-repeat;
}

.svg-header-icon2-x {
	width: 30px;
	height: 29px;
}

.svg-home {
	background: url("sprite.css-a0aea731.svg") 97.76119402985074% 55.78655578655579% no-repeat;
}

.svg-home-x {
	width: 22px;
	height: 21px;
}

.svg-ic1 {
	background: url("sprite.css-a0aea731.svg") 99.25629290617849% 63.950276243093924% no-repeat;
}

.svg-ic1-x {
	width: 16px;
	height: 16px;
}

.svg-ic2 {
	background: url("sprite.css-a0aea731.svg") 97.42562929061785% 65.05524861878453% no-repeat;
}

.svg-ic2-x {
	width: 16px;
	height: 16px;
}

.svg-icon1 {
	background: url("sprite.css-a0aea731.svg") 97.4813966800229% 35.192837465564736% no-repeat;
}

.svg-icon1-x {
	width: 17px;
	height: 12px;
}

.svg-icon10 {
	background: url("sprite.css-a0aea731.svg") 99.88538681948424% 28.78892733564014% no-repeat;
}

.svg-icon10-x {
	width: 19px;
	height: 19px;
}

.svg-icon11 {
	background: url("sprite.css-a0aea731.svg") 98.51173440183172% 58.32757429163787% no-repeat;
}

.svg-icon11-x {
	width: 17px;
	height: 17px;
}

.svg-icon12 {
	background: url("sprite.css-a0aea731.svg") 98.22755860491709% 68.32298136645963% no-repeat;
}

.svg-icon12-x {
	width: 15px;
	height: 15px;
}

.svg-icon13 {
	background: url("sprite.css-a0aea731.svg") 99.88538681948424% 31.557093425605537% no-repeat;
}

.svg-icon13-x {
	width: 19px;
	height: 19px;
}

.svg-icon14 {
	background: url("sprite.css-a0aea731.svg") 97.8735632183908% 50.97222222222222% no-repeat;
}

.svg-icon14-x {
	width: 24px;
	height: 24px;
}

.svg-icon15 {
	background: url("sprite.css-a0aea731.svg") 98.56815578465063% 57.12309820193638% no-repeat;
}

.svg-icon15-x {
	width: 18px;
	height: 18px;
}

.svg-icon16 {
	background: url("sprite.css-a0aea731.svg") 99.25287356321839% 50.97222222222222% no-repeat;
}

.svg-icon16-x {
	width: 24px;
	height: 24px;
}

.svg-icon17 {
	background: url("sprite.css-a0aea731.svg") 97.8735632183908% 52.638888888888886% no-repeat;
}

.svg-icon17-x {
	width: 24px;
	height: 24px;
}

.svg-icon18 {
	background: url("sprite.css-a0aea731.svg") 98.17351598173516% 35.192837465564736% no-repeat;
}

.svg-icon18-x {
	width: 12px;
	height: 12px;
}

.svg-icon19 {
	background: url("sprite.css-a0aea731.svg") 98.85844748858447% 35.192837465564736% no-repeat;
}

.svg-icon19-x {
	width: 12px;
	height: 12px;
}

.svg-icon2 {
	background: url("sprite.css-a0aea731.svg") 98.15561959654178% 49.12891986062718% no-repeat;
}

.svg-icon2-x {
	width: 29px;
	height: 29px;
}

.svg-icon3 {
	background: url("sprite.css-a0aea731.svg") 98.34096109839817% 65.05524861878453% no-repeat;
}

.svg-icon3-x {
	width: 16px;
	height: 16px;
}

.svg-icon4 {
	background: url("sprite.css-a0aea731.svg") 99.59908361970217% 57.12309820193638% no-repeat;
}

.svg-icon4-x {
	width: 18px;
	height: 18px;
}

.svg-icon5 {
	background: url("sprite.css-a0aea731.svg") 98.68270332187858% 47.40484429065744% no-repeat;
}

.svg-icon5-x {
	width: 18px;
	height: 19px;
}

.svg-icon6 {
	background: url("sprite.css-a0aea731.svg") 99.48483113909559% 58.32757429163787% no-repeat;
}

.svg-icon6-x {
	width: 17px;
	height: 17px;
}

.svg-icon7 {
	background: url("sprite.css-a0aea731.svg") 97.4813966800229% 60.53904630269523% no-repeat;
}

.svg-icon7-x {
	width: 17px;
	height: 17px;
}

.svg-icon8 {
	background: url("sprite.css-a0aea731.svg") 98.39816933638444% 60.53904630269523% no-repeat;
}

.svg-icon8-x {
	width: 16px;
	height: 17px;
}

.svg-icon9 {
	background: url("sprite.css-a0aea731.svg") 99.25629290617849% 65.05524861878453% no-repeat;
}

.svg-icon9-x {
	width: 16px;
	height: 16px;
}

.svg-krow {
	background: url("sprite.css-a0aea731.svg") 98.61030689056167% 33.26330532212885% no-repeat;
}

.svg-krow-x {
	width: 37px;
	height: 36px;
}

.svg-let1 {
	background: url("sprite.css-a0aea731.svg") 95.9279038718291% 28.299008390541573% no-repeat;
}

.svg-let1-x {
	width: 266px;
	height: 153px;
}

.svg-let2 {
	background: url("sprite.css-a0aea731.svg") 48.432288192128084% 91.42634450506625% no-repeat;
}

.svg-let2-x {
	width: 265px;
	height: 181px;
}

.svg-let3 {
	background: url("sprite.css-a0aea731.svg") 95.9279038718291% 40.84177708495713% no-repeat;
}

.svg-let3-x {
	width: 266px;
	height: 181px;
}

.svg-lett-1 {
	background: url("sprite.css-a0aea731.svg") 38.47780126849894% 33.64312267657993% no-repeat;
}

.svg-lett-1-x {
	width: 345px;
	height: 388px;
}

.svg-lett-1-1 {
	background: url("sprite.css-a0aea731.svg") 62.7906976744186% 33.64312267657993% no-repeat;
}

.svg-lett-1-1-x {
	width: 345px;
	height: 388px;
}

.svg-lett-1-2 {
	background: url("sprite.css-a0aea731.svg") 0 72.95539033457248% no-repeat;
}

.svg-lett-1-2-x {
	width: 345px;
	height: 388px;
}

.svg-lett-1-3 {
	background: url("sprite.css-a0aea731.svg") 24.312896405919663% 72.95539033457248% no-repeat;
}

.svg-lett-1-3-x {
	width: 345px;
	height: 388px;
}

.svg-lett-2 {
	background: url("sprite.css-a0aea731.svg") 48.625792811839325% 72.95539033457248% no-repeat;
}

.svg-lett-2-x {
	width: 345px;
	height: 388px;
}

.svg-lett-3 {
	background: url("sprite.css-a0aea731.svg") 72.93868921775899% 72.95539033457248% no-repeat;
}

.svg-lett-3-x {
	width: 345px;
	height: 388px;
}

.svg-lett11 {
	background: url("sprite.css-a0aea731.svg") 95.9279038718291% 54.524361948955914% no-repeat;
}

.svg-lett11-x {
	width: 266px;
	height: 171px;
}

.svg-lett12 {
	background: url("sprite.css-a0aea731.svg") 66.11074049366245% 90.78947368421052% no-repeat;
}

.svg-lett12-x {
	width: 265px;
	height: 172px;
}

.svg-lett13 {
	background: url("sprite.css-a0aea731.svg") 95.9279038718291% 67.80185758513932% no-repeat;
}

.svg-lett13-x {
	width: 266px;
	height: 172px;
}

.svg-lg1 {
	background: url("sprite.css-a0aea731.svg") 77.882797731569% 27.465857359635812% no-repeat;
}

.svg-lg1-x {
	width: 177px;
	height: 146px;
}

.svg-lg2 {
	background: url("sprite.css-a0aea731.svg") 77.882797731569% 38.54324734446131% no-repeat;
}

.svg-lg2-x {
	width: 177px;
	height: 146px;
}

.svg-load {
	background: url("sprite.css-a0aea731.svg") 99.54337899543378% 35.192837465564736% no-repeat;
}

.svg-load-x {
	width: 12px;
	height: 12px;
}

.svg-logo-black {
	background: url("sprite.css-a0aea731.svg") 93.25113562621674% 73.38935574229691% no-repeat;
}

.svg-logo-black-x {
	width: 223px;
	height: 36px;
}

.svg-logo-white {
	background: url("sprite.css-a0aea731.svg") 93.25113562621674% 75.91036414565826% no-repeat;
}

.svg-logo-white-x {
	width: 223px;
	height: 36px;
}

.svg-modal-ic1 {
	background: url("sprite.css-a0aea731.svg") 100% 33.0090340514246% no-repeat;
}

.svg-modal-ic1-x {
	width: 24px;
	height: 25px;
}

.svg-modal-ic10 {
	background: url("sprite.css-a0aea731.svg") 97.42562929061785% 66.16022099447514% no-repeat;
}

.svg-modal-ic10-x {
	width: 16px;
	height: 16px;
}

.svg-modal-ic11 {
	background: url("sprite.css-a0aea731.svg") 99.77077363896848% 47.40484429065744% no-repeat;
}

.svg-modal-ic11-x {
	width: 19px;
	height: 19px;
}

.svg-modal-ic12 {
	background: url("sprite.css-a0aea731.svg") 98.78190255220417% 27.73876404494382% no-repeat;
}

.svg-modal-ic12-x {
	width: 40px;
	height: 40px;
}

.svg-modal-ic13 {
	background: url("sprite.css-a0aea731.svg") 98.78190255220417% 30.547752808988765% no-repeat;
}

.svg-modal-ic13-x {
	width: 40px;
	height: 40px;
}

.svg-modal-ic14 {
	background: url("sprite.css-a0aea731.svg") 97.64908256880734% 47.43767313019391% no-repeat;
}

.svg-modal-ic14-x {
	width: 20px;
	height: 20px;
}

.svg-modal-ic15 {
	background: url("sprite.css-a0aea731.svg") 98.8538681948424% 55.70934256055364% no-repeat;
}

.svg-modal-ic15-x {
	width: 19px;
	height: 19px;
}

.svg-modal-ic16 {
	background: url("sprite.css-a0aea731.svg") 99.08519153802173% 68.32298136645963% no-repeat;
}

.svg-modal-ic16-x {
	width: 15px;
	height: 15px;
}

.svg-modal-ic2 {
	background: url("sprite.css-a0aea731.svg") 99.94292237442923% 50.58580289455548% no-repeat;
}

.svg-modal-ic2-x {
	width: 12px;
	height: 13px;
}

.svg-modal-ic3 {
	background: url("sprite.css-a0aea731.svg") 98.55324074074075% 36.69467787114846% no-repeat;
}

.svg-modal-ic3-x {
	width: 36px;
	height: 36px;
}

.svg-modal-ic4 {
	background: url("sprite.css-a0aea731.svg") 98.55324074074075% 39.21568627450981% no-repeat;
}

.svg-modal-ic4-x {
	width: 36px;
	height: 36px;
}

.svg-modal-ic5 {
	background: url("sprite.css-a0aea731.svg") 98.34096109839817% 66.16022099447514% no-repeat;
}

.svg-modal-ic5-x {
	width: 16px;
	height: 16px;
}

.svg-modal-ic6 {
	background: url("sprite.css-a0aea731.svg") 99.2579908675799% 40.22038567493113% no-repeat;
}

.svg-modal-ic6-x {
	width: 12px;
	height: 12px;
}

.svg-modal-ic7 {
	background: url("sprite.css-a0aea731.svg") 99.31350114416476% 60.53904630269523% no-repeat;
}

.svg-modal-ic7-x {
	width: 16px;
	height: 17px;
}

.svg-modal-ic8 {
	background: url("sprite.css-a0aea731.svg") 97.53722794959909% 58.367911479944674% no-repeat;
}

.svg-modal-ic8-x {
	width: 18px;
	height: 18px;
}

.svg-modal-ic9 {
	background: url("sprite.css-a0aea731.svg") 100% 25.71032571032571% no-repeat;
}

.svg-modal-ic9-x {
	width: 21px;
	height: 21px;
}

.svg-ok {
	background: url("sprite.css-a0aea731.svg") 97.4813966800229% 61.671270718232044% no-repeat;
}

.svg-ok-x {
	width: 17px;
	height: 16px;
}

.svg-ok2 {
	background: url("sprite.css-a0aea731.svg") 99.94292237442923% 40.22038567493113% no-repeat;
}

.svg-ok2-x {
	width: 12px;
	height: 12px;
}

.svg-or {
	background: url("sprite.css-a0aea731.svg") 99.2579908675799% 42.69972451790633% no-repeat;
}

.svg-or-x {
	width: 12px;
	height: 12px;
}

.svg-pattern {
	background: url("sprite.css-a0aea731.svg") 90.43423536815607% 78.37648705388384% no-repeat;
}

.svg-pattern-x {
	width: 175px;
	height: 35px;
}

.svg-pattern2 {
	background: url("sprite.css-a0aea731.svg") 0 34.77425552353506% no-repeat;
}

.svg-pattern2-x {
	width: 273px;
	height: 423px;
}

.svg-pattern2-2 {
	background: url("sprite.css-a0aea731.svg") 18.309859154929576% 34.77425552353506% no-repeat;
}

.svg-pattern2-2-x {
	width: 273px;
	height: 423px;
}

.svg-pattern3 {
	background: url("sprite.css-a0aea731.svg") 0 100% no-repeat;
}

.svg-pattern3-x {
	width: 363px;
	height: 291px;
}

.svg-pattern4 {
	background: url("sprite.css-a0aea731.svg") 25.910064239828692% 100% no-repeat;
}

.svg-pattern4-x {
	width: 363px;
	height: 291px;
}

.svg-quest {
	background: url("sprite.css-a0aea731.svg") 100% 27.373527373527374% no-repeat;
}

.svg-quest-x {
	width: 21px;
	height: 21px;
}

.svg-rg {
	background: url("sprite.css-a0aea731.svg") 99.2018244013683% 34.29355281207133% no-repeat;
}

.svg-rg-x {
	width: 10px;
	height: 6px;
}

.svg-setting {
	background: url("sprite.css-a0aea731.svg") 100% 30.145530145530145% no-repeat;
}

.svg-setting-x {
	width: 21px;
	height: 21px;
}

.svg-smile {
	background: url("sprite.css-a0aea731.svg") 98.55324074074075% 41.73669467787115% no-repeat;
}

.svg-smile-x {
	width: 36px;
	height: 36px;
}

.svg-svg {
	background: url("sprite.css-a0aea731.svg") 100% 0 no-repeat;
}

.svg-svg-x {
	width: 0px;
	height: 0px;
}

.svg-tik {
	background: url("sprite.css-a0aea731.svg") 100% 36.414176511466295% no-repeat;
}

.svg-tik-x {
	width: 25px;
	height: 25px;
}

.svg-tik2 {
	background: url("sprite.css-a0aea731.svg") 99.25629290617849% 66.16022099447514% no-repeat;
}

.svg-tik2-x {
	width: 16px;
	height: 16px;
}

.svg-tik3 {
	background: url("sprite.css-a0aea731.svg") 97.42562929061785% 67.26519337016575% no-repeat;
}

.svg-tik3-x {
	width: 16px;
	height: 16px;
}

.svg-tik4 {
	background: url("sprite.css-a0aea731.svg") 98.34096109839817% 67.26519337016575% no-repeat;
}

.svg-tik4-x {
	width: 16px;
	height: 16px;
}

.svg-tik5 {
	background: url("sprite.css-a0aea731.svg") 97.42562929061785% 62.819626814098136% no-repeat;
}

.svg-tik5-x {
	width: 16px;
	height: 17px;
}

.svg-tk2 {
	background: url("sprite.css-a0aea731.svg") 98.34096109839817% 62.819626814098136% no-repeat;
}

.svg-tk2-x {
	width: 16px;
	height: 17px;
}

.svg-tl-ar {
	background: url("sprite.css-a0aea731.svg") 99.77194982896238% 34.29355281207133% no-repeat;
}

.svg-tl-ar-x {
	width: 10px;
	height: 6px;
}

.svg-toggl {
	background: url("sprite.css-a0aea731.svg") 99.25287356321839% 52.638888888888886% no-repeat;
}

.svg-toggl-x {
	width: 24px;
	height: 24px;
}

.svg-user {
	background: url("sprite.css-a0aea731.svg") 99.31310818546079% 62.819626814098136% no-repeat;
}

.svg-user-x {
	width: 17px;
	height: 17px;
}

.svg-wallet-bg {
	background: url("sprite.css-a0aea731.svg") 0 0 no-repeat;
}

.svg-wallet-bg-x {
	width: 1437px;
	height: 181px;
}

.svg-wallet-bg1 {
	background: url("sprite.css-a0aea731.svg") 100% 0 no-repeat;
}

.svg-wallet-bg1-x {
	width: 327px;
	height: 371px;
}

.svg-wallet-bg2 {
	background: url("sprite.css-a0aea731.svg") 0 14.107560405300077% no-repeat;
}

.svg-wallet-bg2-x {
	width: 1437px;
	height: 181px;
}

